@mixin custom-width($width) {
    @media (max-width: $width) {
        @content;
    }
}

#login {
    margin: 80px 0;

    .loginBox {
        display: flex;
        margin: auto;
        background-color: var(--white);
        border-radius: 28px;
        width: 1200px;

        @include custom-width(1024px) {
            flex-direction: column;
            height: auto;
            width: auto;
            margin: 0;
            padding: 0;
            justify-content: center;
        }

        & .member_login {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;

            form {
                font-weight: 600;
            }

            label {
                font-size: 16px;
            }

            a {
                font-size: 16px;
            }
            .member-id input {
                width: 150px;
            }
        }

        & h3 {
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: var(--darkGray);
            text-align: center;
            margin-bottom: 40px;

            @include custom-width(1024px) {
                font-size: 1.8rem;
            }

            @include custom-width(568px) {
                font-size: 1.5rem;
            }
        }

        .check_pw {
            display: flex;
            justify-content: space-between;
        }
        .login-btn {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                display: inline-block;
                text-decoration: none;
                outline: none;
                background-color: var(--lesser-color-pink);
                color: var(--dark);
                width: 200px;
                height: 35px;
                padding: 5px 45px;
                margin: 20px;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;
                border-radius: 30px;
                border: none;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                @include custom-width(768px) {
                    width: 150px;
                }
            }
            button:hover {
                scale: 0.95;
            }
        }
    }

    //左側欄位
    .loginBox .loginImg {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        background-color: var(--major-color-pink);
        border-radius: 28px;
        width: 422px;
        height: 754px;

        @include custom-width(1024px) {
            flex-direction: column;
            height: auto;
            width: auto;
            margin: 0;
            padding: 0;
            justify-content: center;
            margin-bottom: 40px;
            border-radius: 28px 28px 0 0;
        }

        @include custom-width(768px) {
            flex-direction: column;
            height: auto;
            width: auto;
            margin: 0;
            padding: 0;
            justify-content: center;
            margin-bottom: 40px;
            border-radius: 28px 28px 0 0;
        }

        img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: 185px;
            height: 185px;

            @include custom-width(1024px) {
                width: 120px;
                height: 120px;
                margin: 10px auto;
            }

            @include custom-width(768px) {
                width: 100px;
                height: 100px;
                margin: 10px auto;
            }
        }
    }
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: var(--lesser-color-pink);

    // :focus {
    // 	outline-color: red; /* 將外框線顏色設定為紅色 */
    // }
}
