@mixin custom-width($width) {
    @media (max-width: $width) {
        @content;
    }
}

#orderEstablished {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--white);

    .orderEstablished {
        &-img {
            margin-top: 60px;
            img {
                width: 100px;
                height: 100px;
            }
        }
        &-title {
            h1 {
                font-weight: bold;
                font-size: 1.5rem;
                margin: 20px 0;
            }
        }
        &-number {
            font-weight: bold;
            margin: 20px 0;
        }

        &-content {
            width: 1200px;
            border: 1px solid var(--grey-D9);
            margin-bottom: 60px;
            border-radius: 20px;

            @include custom-width(1024px) {
                height: auto;
                width: auto;
                margin: 0 15px;
                padding: 0;
            }

            .title {
                background-color: var(--lesser-color-pink);
                padding: 15px;
                font-weight: bold;
                border-radius: 20px 20px 0 0;
            }
            .order {
                td {
                    padding: 20px;
                }

                &-data,
                &-storeName,
                &-recipient,
                &-price {
                    width: 100px;
                    font-weight: bold;
                    border-bottom: 1px solid var(--grey-D9);
                    @include custom-width(1024px) {
                        height: auto;
                        width: 200px;
                    }
                }
                &-payment {
                    width: 100px;
                    font-weight: bold;
                }

                &-data-text,
                &-storeName-text,
                &-recipient-text,
                &-price-text {
                    width: 1100px;
                    border-bottom: 1px solid var(--grey-D9);
                }
                &-payment-text {
                    width: 1100px;
                }
            }
        }
    }
    .cart-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        button {
            outline: none;
            color: #000000;
            background-color: var(--lesser-color-pink);
            width: 200px;
            height: 35px;
            padding: 5px 45px;
            margin: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 30px;
            border: none;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            @include custom-width(600px) {
                width: 120px;
                padding: 0;
            }
        }
        button:hover {
            scale: 0.95;
        }
    }
}
